.acticle {
  font-size: 30px;
  margin: 20px;
}

.app {
  font-size: 50px;
  line-height: 78px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  width: 800px;
  height: 200px;
  color: red;
}

strong {
  font-weight: 200;
}

.form {
  margin-bottom: 25px;
}
#timerInput {
  display: inline-block;
  margin: auto;
  width: 200px;
  line-height: 30px;
}
.addBtn {
  width: 40px;
  line-height: 30px;
  font-size: 24px;
  vertical-align: top;
}
.timer {
  background-color: #eae0d0;
  height: 100vh;
  color: gray;
}

.countdownClock {
  max-width: 500px;
  height: 300px;
  padding-top: 50px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: #b4afa74f;
  box-shadow: 0 0 10px #7c7973;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.countdownTitle {
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 20px;
}
.comeBackTimeStemp {
  font-size: 30px;
  font-weight: 400;
}
